@model TagModel

<div class="p-5 mb-4 bg-body-tertiary rounded-3">

    <div class="container-fluid py-5">

        <h1 class="display-5 fw-bold"> @Model.Title </h1>

        <p class="col-md-8 fs-4"> @Model.Description </p>

        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary btn-lg me-2" type="button"> Edit </a>

        <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger btn-lg" type="button"> Delete </a>

    </div>

</div>

<table class="table caption-top">
    <thead>
        <tr>

            <th scope="col"> # </th>

            <th scope="col"> Title </th>

            <th scope="col"> Description </th>

        </tr>
    </thead>
    @if (Model.Posts != null)
    {
        <tbody class="table-group-divider">

            @{
                var i = 1;

                foreach (var post in Model.PostTags)
                {
                    <tr>
                        <th scope="row">@i</th>

                        <td><a asp-controller="Post" asp-action="Detail" asp-route-id="@post.PostId" class="link"> @post.Post.Title </a></td>

                        <td> @post.Post.Description </td>
                    </tr>

                    i++;
                }
            }

        </tbody>
    }
    else
    {
        <caption> No posts found! </caption>

        <tbody class="table-group-divider"> </tbody>
    }
</table>