@using SimpleWebsite.ViewModels.PostViewModel

@model DetailPostViewModel


@{
    var Post = Model.Posts;
    var Tag = Model.Tags;
}

<div class="p-5 mb-4 bg-body-tertiary rounded-3">

    <div class="container-fluid py-5">

        <h1 class="display-5 fw-bold"> @Post.Title </h1>

        <p class="col-md-8 fs-4"> @Post.Description </p>

        <a asp-action="Edit" asp-route-id="@Post.Id" class="btn btn-primary btn-lg me-2" type="button"> Edit </a>

        <a asp-action="Delete" asp-route-id="@Post.Id" class="btn btn-danger btn-lg" type="button"> Delete </a>

    </div>

</div>

<table class="table caption-top">
    <thead>
        <tr>

            <th scope="col"> # </th>

            <th scope="col"> Tags </th>

            <th scope="col"> No. of Posts with this tag </th>

            <th scope="col"> Description </th>

        </tr>
    </thead>
    @if (Model.Tags != null)
    {
        <tbody class="table-group-divider">

            @{
                var i = 1;

                foreach (var tag in Tag)
                {
                    <tr>
                        <th scope="row">@i</th>

                        <td><a asp-controller="Tag" asp-action="Detail" asp-route-id="@tag.Id" class="btn btn-link shadow-none"> @tag.Title </a></td>

                        <td> # </td>

                        <td> @tag.Description </td>
                    </tr>

                    i++;
                }
            }

        </tbody>
    }
    else
    {
        <caption> No tags found! </caption>

        <tbody class="table-group-divider"> </tbody>
    }
</table>